body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #333;
}

.container {
  background: white;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.buttons {
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4facfe;
  color: white;
  font-weight: bold;
}

button:hover {
  background: #007bff;
}

#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
